.DS_STORE
node_modules
build
.module-cache
*.log*
_nogit
*.egg-info
*.pot
*.py[co]
.tox/
__pycache__
MANIFEST
dist/
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
build/
tests/report/
webpack-stats.json
media/
.next/
.ropeproject
.vscode
staticfiles/
nodeids
.pytest_cache
.coverage
htmlcov/
.prettierignore
coverage/
celerybeat-schedule
.env
.pem
.idea/
.eslintrc